{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link href="{% static "base.css" %}" rel="stylesheet">
</head>
<h1> Home Page </h1>
  <div id="header">
    <ul class="menu">
      <li class="selected">
        <a href="{% url "blogposts:dashboard" %}">My dashboard</a>
      </li>
    </ul>
  <span class="user">
      {% if request.user.is_authenticated %}
        Hello {{ request.user.username }},
        <a href="{% url "blogposts:logout" %}">Logout</a>
      {% else %}
        <a href="{% url "blogposts:login" %}">Login</a>
      {% endif %}
    </span>
    </div>
<body>
  <div>
    {% if last_ten_in_ascending_order %}
        <ul class="commentarea">
        {% for post in last_ten_in_ascending_order %}
           <h3><a href="{% url 'blogposts:detail' post.id %}">{{ post.title }}</a>
           </h3>
           <p class = "date">Published {{ post.published_date}} by {{post.author}}</p>
           <p class = "tags">Tags: {{ post.tags.all|join:", "}}</p>
           <p >{{ post.content}}</p>
        {% endfor %}
        </ul>
    {% else %}
        <p>No posts are available.</p>
    {% endif %}
  </div>
  <div>
    <form action="{% url 'blogposts:create_post' %}" method="post">
      {% csrf_token %}
      <label>New Post:</label><br>
        <textarea rows="4" cols="50" name="create_post" ></textarea><br>
    <input type="submit" value="Submit">
    </form>
  </div>
</body>
